body {
  margin: 0;
}

/*Primeira seção - imagem do tamanho da tela.*/

.fullscreen {
  background: #307F74;
  width: 100vw;
  height: 100vh;
  border-bottom: 2px solid black;
}

/*Segunda seção - Contém título, parágrafos e área de preços*/

.price-section {
  /*padding: 0 100px;*/
}

/*Artigo da segunda seção*/
.artigo {
  max-width: 100%;
  width: 1260px;
  margin: 50px auto;
}

.artigo p {
  text-align: justify;
  line-height: 30px;
  margin: 0;
}

.artigo h1 {
  border-bottom: 1px solid black;
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}

/*Área de preços da segunda seção*/

.price-area {
  max-width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.box-price {
  height: 300px;
  width: 300px;
  border: 1px solid #307F74;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  padding: 15px;
}

.box-price h1 {
  font-size: 30px;
}

.box-price p {
  margin: 0;
}
